/* !! MOBILE FIRST !! */

// IMPORT FONT
@font-face {
    font-family: 'comfortaa-reg';
    src: url('../assets/font comfortaa/Comfortaa-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'comfortaa-lite';
    src: url('../assets/font comfortaa/Comfortaa-Light.ttf') format('opentype');
}

// FONTS
h1 {
    font-family: 'comfortaa-reg';
    // font-size: 8.5vw;
    font-size: calc(30px + 0.390625vw);
    line-height: calc(12px + 0.390625vw);
}

p {
    font-family: 'comfortaa-lite';
    // font-size: 4vw;
    font-size: calc(12px + 0.390625vw);
    line-height: calc(20px + 0.390625vw);
}